absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.0.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
audioread==3.0.1
azure-core==1.30.1
azure-storage-blob==12.19.1
cached-property==1.5.2
cachetools==5.5.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==3.4.0
click==8.1.8
cryptography==44.0.0
cycler==0.11.0
Cython==0.29.23
decorator==5.1.1
distro==1.9.0
einops==0.3.0
exceptiongroup==1.2.2
fairscale==0.4.6
fastapi==0.103.2
ffmpy==0.3.2
filelock==3.12.2
fire==0.7.0
frozenlist==1.3.3
fsspec==2023.1.0
google-auth==2.37.0
google-auth-oauthlib==0.4.6
gradio==3.34.0
gradio_client==0.2.6
grpcio==1.62.3
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.10
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflect==5.0.2
isodate==0.7.2
Jinja2==3.1.5
joblib==1.3.2
jsonlines==3.1.0
jsonschema==4.17.3
kiwisolver==1.4.5
lamini==3.2.3
lamini-configuration==0.8.3
librosa==0.8.0
linkify-it-py==2.0.3
llama-cli==1.0.18
llama_stack==0.0.1a5
llvmlite==0.39.1
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.3.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
multidict==6.0.5
numba==0.56.4
numpy==1.19.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
orjson==3.9.7
packaging==24.0
pandas==1.3.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
pooch==1.8.2
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
Pygments==2.17.2
pyparsing==3.1.4
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-multipart==0.0.8
pytz==2024.2
PyYAML==6.0.1
regex==2024.4.16
requests==2.31.0
requests-oauthlib==2.0.0
resampy==0.4.3
rsa==4.9
safetensors==0.4.5
scikit-learn==1.0.2
scipy==1.5.4
semantic-version==2.10.0
sentencepiece==0.2.0
six==1.17.0
sniffio==1.3.1
soundfile==0.12.1
starlette==0.27.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.3.0
threadpoolctl==3.1.0
tokenizers==0.13.3
toolz==0.12.1
torch==1.13.1
torchaudio==0.13.1
tqdm==4.67.1
transformers==4.30.2
typing_extensions==4.7.1
uc-micro-py==1.0.3
Unidecode==1.1.2
urllib3==2.0.7
uvicorn==0.22.0
websockets==11.0.3
Werkzeug==2.2.3
yarl==1.9.4
zipp==3.15.0
